@use '../variables' as color;
.container__whatsapp__myContacts
{ 
    height: 95vh; 
  
    padding-bottom: 0;
    &__header
    {
        height: 4rem;
        width: 102.5%;
       
        display: flex;
        background-color: color.$ligth-gray;
        padding-left: 1rem;
        align-items: center;
        @media (max-width: 1115px)
        {
           width: 100%;

        }
        &-user
        {
            height: 3.5rem;
            width: 3.5rem;
            border-radius: 30px;
            &:hover
            {
                cursor: pointer;
            }
        }
    }
    &__barraSearch
    {
       
        display: flex;
        height: 4rem;
        width: 102.5%;
        background-color: color.$grayLigth;
        align-items: center;
        @media (max-width: 1115px)
        {
           width: 100%;

        }
        &-search
        {
            
            width: 2rem;
            height: 2.5rem;
            margin-left: 1rem;
            
        }
        &__formulario
        {
            width: 87%;
            &-input
            {
                border: none;
                height: 2.5rem;
                width: 100%;
                border-radius: 15px ;
                padding-left: 1rem;

            }
        }
    }
    
    &__card
    {
        overflow-y: scroll;
        height: 81%;
        width: 103%;
      
        padding-right: 0;
        margin-right: 0;
        &__cardContact
        {
            border-bottom: 1px solid color.$ligth-gray;
            display: flex;
            align-items: center;
            padding: 0.5rem;
            width: 100%;
            @media (max-width: 1115px)
            {
            width: 100%;

            }
            &-imagen
            {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 30px;
            }
            &__text
            {
                width: 100%;
                &__nameDate
                {
                    display: flex;
                    justify-content: space-between;
                    &-name
                    {
                        padding-left: 1rem;
                    }
                    &-date
                    {
                        color: color.$gray;
                    }
                
                }
                &__imgText
                {
                    display: flex;
                    align-items: center;
                
                    &-img
                    {
                
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &-text
                    {
                        color: color.$gray;
                    }
                }
            }
        
        }

    }
    
    
}
